<!DOCTYPE html>
<html>
  <head>
    <title>Enter Words</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <form action="/madlib" method="post">
    <label for="noun">Noun</label>
    <input type="text" name="noun" id="noun">
    <br />

    <label for="adjective">Adjective</label>
    <input id="adjective" name="adjective" type="text">
    <br />
    <label for="noun">Noun</label>
    <input id="noun2" name="noun2" type="text">
    <br />
    <label for="bodyparts">Part of Body(Plural)</label>
    <input id="bodyparts" name="bodyparts" type="text">
    <br />
    <button type="submit">Generate Madlib</button>
    </form>
</html>